h1, h2 {
    font-family: 'Bitter', serif;
    font-weight: 400;
    opacity: 0.99;
    color: #333;
}


h1 {
    font-size: 35px;
    font-weight: 600;   
}

h3 {
    color: #333;
    font-weight: 700;
    font-size: 13px;
    opacity: 0.99;
}

a { 
    color: #333;
    font-weight: 700; 
    text-decoration: none;
}

.header .logo {
    float: left;
    height: 87px;
    width: 116px;
    margin-right: 20px;
}

#site-title {
    font-family: 'Bitter', serif;
    font-weight: 600;
    font-size: 50px;
    margin: 50px 0 70px 83px;
    color:#333;
    line-height: normal;
}

#site-title .sub {
    display: block;
    font-size: 20px;
    font-weight: 400;
    color: #CCC;
    line-height: 0px;
}

html, body {
    font-family: 'Ubuntu', sans-serif;
    background: url('../images/bg.png');
    color: #666;
    font-size: 14px;
    line-height: 2em;
    margin: 0;
    padding: 0;
}

.header,
.main,
.footer .content {
    width: 960px;
    margin: 0 auto;
} 

/** CLASSES **/

abbr.meta {
    font-size: 12px;
    margin: 0;
    padding: 0 0 0 25px;
    background: url('../images/note.png') no-repeat left center;
    border-bottom: 0px none;
}

.main .content img {
    float: left;
    margin: 10px 10px 10px 0;
    padding: 5px;
    background: #ccc;
    border-radius: 5px;
}

.stripe {
    width: 100%;
    background: #333;
    height: 50px;
}

/** SIDEBAR **/

a.social {
    padding-left: 25px;
    font-weight: normal;
    display: block;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border-radius: 3px;
}

a.social:hover {
    background: #333;
    color: #fff;
}

a.social.twitter {
    background-image: url('../images/twitter.png');
    background-repeat: no-repeat;
    background-position: left center;
}
a.social.github {
    background-image: url('../images/github.png'); 
    background-repeat: no-repeat;
    background-position: left center;
}

.sidebar {
    width: 180px;
    padding: 10px;
    float: left;
}

.coderwall-logo {
    display:none;
    }

/** MENU **/

ul.menu {
    margin: 67px -10px 40px -10px;
    padding: 0;
    line-height: normal;
}

ul.menu li { 
    list-style: none;
    border-bottom: 1px solid #DDD;
}

ul.menu li a { 
    font-weight: 400;
    padding: 10px;
    display: block;
    margin: 5px 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border-radius: 3px;
}

ul.menu li a:hover {
    text-shadow: 1px 1px 0px #000;
    background: #333;
    color: #fff;
}

/** MAIN CONTENT **/
.main .content {
    width: 740px;
    float: right;
}

/** ARTICLES **/

.node-teaser {
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.node h2 {
    margin-bottom: 0;
}

.links {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
}

ul.links li {
    display: inline-block;
}

ul.links li a {
    color: #aaa;
    font-weight: normal;
    margin-left: 10px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    padding: 0px 7px;
    border-radius: 3px;
}

ul.links li a:hover {
    text-shadow: 1px 1px 0px #000;
    background: #333;
    color: #fff;
}

/** FOOTER **/


.footer {
    clear: both;
    height: 280px;
    width: 100%;
    background: #333;
    margin-top: 40px;
}

.footer .content {
    padding: 40px 0;
    color: #ddd;
}

.footer .content p {
    margin: 0;
}

.footer .content img {
    display: block;
    float: left;
    margin-right: 20px;
}

.clr {
    clear: both;
}

/** FORM **/

.form-actions .form-submit {
    text-shadow: 1px 1px 0px #000;
    background: #333;
    color: #fff;
    font-weight: 400;
    padding: 5px 10px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border-radius: 3px;
    margin-right: 10px;
}
